@font-face {
  font-family: '0xProto Nerd Font';
  src:
    url('/fonts/0xProtoNerdFontMono.woff2') format('woff2'),
    url('/fonts/0xProto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: #161b22 !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html.dark {
  color-scheme: dark;
}

html.dark .prose {
  --un-prose-body: var(--un-prose-invert-body);
  --un-prose-headings: var(--un-prose-invert-headings);
  --un-prose-lead: var(--un-prose-invert-lead);
  --un-prose-links: var(--un-prose-invert-links);
  --un-prose-bold: var(--un-prose-invert-bold);
  --un-prose-counters: var(--un-prose-invert-counters);
  --un-prose-bullets: var(--un-prose-invert-bullets);
  --un-prose-hr: var(--un-prose-invert-hr);
  --un-prose-quotes: var(--un-prose-invert-quotes);
  --un-prose-quote-borders: var(--un-prose-invert-quote-borders);
  --un-prose-captions: var(--un-prose-invert-captions);
  --un-prose-kbd: var(--un-prose-invert-kbd);
  --un-prose-kbd-shadows: var(--un-prose-invert-kbd-shadows);
  --un-prose-code: var(--un-prose-invert-code);
  --un-prose-pre-code: var(--un-prose-invert-pre-code);
  --un-prose-pre-bg: var(--un-prose-invert-pre-bg);
  --un-prose-th-borders: var(--un-prose-invert-th-borders);
  --un-prose-td-borders: var(--un-prose-invert-td-borders);
}

html:not(.dark) {
  color-scheme: light;
}

body {
  font-family:
    '0xProto Nerd Font', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #888;
  opacity: 0.75;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

img {
  --at-apply: rd-1.5;
}

article {
  --at-apply: sm: min-h-38 min-h-28;
}

.prose-link i {
  --at-apply: text-sm mr-1;
}

/* src/styles/global.css */
:root {
  --ripple-x: 50%;
  --ripple-y: 50%;
}
