@font-face {
  font-family: '0xProto Nerd Font';
  src:
    url('/fonts/0xProtoNerdFontMono.woff2') format('woff2'),
    url('/fonts/0xProto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: #161b22 !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html.dark {
  color-scheme: dark;
}

html:not(.dark) {
  color-scheme: light;
}

body {
  font-family: '0xProto Nerd Font', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #888;
  opacity: 0.75;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

img {
  --at-apply: rd-1.5;
}

article {
  --at-apply: sm: min-h-38 min-h-28;
}

.prose-link i {
  --at-apply: text-sm mr-1;
}

/* src/styles/global.css */
:root {
  --ripple-x: 50%;
  --ripple-y: 50%;
}
