/* src/styles/typing.css */
.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  font-family: '0xProto Nerd Font', monospace;
  border-right: 0.15em solid orange;
  width: 0;
  --typing-chars: 46;
  animation:
    typing 3.5s steps(46, end) forwards,
    typing 3.5s steps(var(--typing-chars), end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: max-content;
    width: calc(var(--typing-chars) * 1ch);
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
